.container {
    background-color: rgb(200, 200, 200);
}

tr,tbody {
    width: 100%;
}

th {
    width: 350px;
}

table {
    width: 100%;
}

img {
    height: 100px;
}

.center {
    text-align: center;
}