h1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

span {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.przyciski {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.przycisk {
  width: 100px;
  height: 100px;
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.p1 {
  border-radius: 2px;
  background-color: #008cba;
}

.p2 {
  border-radius: 4px;
  background-color: #f44336;
}

.p3 {
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.p4 {
  border-radius: 12px;
  background-color: #555555;
  color: white;
}

.p5 {
  border-radius: 50%;
  background-color: yellow;
}

.o1 {
  border: 3px solid red;
  border-radius: 10px;
  transition: all 0.3s;
}

.o2 {
  border: 3px solid yellow;
  border-radius: 10px;
  transition: all 0.3s;
}

.o3 {
  border: 3px solid Blue;
  border-radius: 10px;
  transition: all 0.3s;
}

.o4 {
  border: 3px solid Green;
  border-radius: 10px;
  transition: all 0.3s;
}

.o5 {
  border: 3px solid gray;
  border-radius: 10px;
  transition: all 0.3s;
}

.o1:hover {
  background-color: red;
  color: white;
}

.o2:hover {
  background-color: yellow;
}

.o3:hover {
  background-color: Blue;
  color: white;
}

.o4:hover {
  background-color: Green;
  color: white;
}

.o5:hover {
  background-color: gray;
  color: white;
}

.przyciskcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.przyciskcontainer2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.przyciskduzy {
  width: 600px;
  height: 50px;
  background-color: rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.przyciskduzy:hover {
  width: 800px;
  background-color: bisque;
  border-radius: 15px;
}

.przyciskduzy2 {
  width: 600px;
  height: 50px;
  background-color: rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  cursor: pointer;
  border-radius: 5px;
}

.przyciskduzy2:hover {
  width: 800px;
  background-color: rgb(255, 123, 123);
  color: white;
  border-radius: 15px;
}

.przyciskaftercontainer {
  display: flex;
  justify-content: center;
}

.przyciskafter {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
}

.przyciskafter span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.przyciskafter span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.przyciskafter:hover span {
  padding-right: 15px;
}

.przyciskafter:hover span:after {
  opacity: 1;
  right: 0;
}
