*{
    margin: 0;
    padding: 0;
}

:root {
    --ciemny: #829EB9;
    --sredni: #B3C6D9;
    --jasny: #E0E9F1;
  }

.header{
    background-color: var(--ciemny);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main {
    background-color: var(--jasny);
    height: 650px;
    display: flex;
}

.left {
    background-color: var(--sredni);
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 350px;
    margin: 50px;
}

a{
    text-decoration: none;
    color: black;
}
.center{
    width: calc(100% - 800px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    background-color: var(--sredni);
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: var(--ciemny);
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    color: white;
}
