.icon {
    width: 50px;
    margin: 3px;
    border-radius: 50%;
}

.background {
    width: 310px;
    margin: 3px;
    margin-top: -60px;
    opacity: 5%;
}

.description{
    position: absolute;
    top: 100px;
    left: 25px;
    right: 20px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
}

.cardscontainer{
    background-color: rgb(65, 65, 65);
}

.cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    font-size: 14px;
    padding: 20px;
}

.card{
    margin: 10px;
    height: 200px;
    width: 350px;
    position: relative;
    outline: none;
    transition: outline 0.1s;
}

.card:hover {
    cursor: pointer;
    outline: 4px solid rgb(255, 255, 255);
}

.card-title {
    font-size: 30px;
    padding: 10px;
}

.card-footer {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: -10px;
    position: relative;
}

.card-body {
    height: 400px;
}

.roleIcon {
    width: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
