*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(165, 165, 165);
    overflow: hidden;
}

.banner img{
    width: 100%;
    margin-bottom: -5px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex
}

.navbar{
    width: 300px;
    height: 100%;
    background-color: rgb(165, 165, 165);
    border: 3px solid black;
    
}

.item{
    width: 100%;
    font-family: sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: solid 2px black;
    transition: all 0.3s;
    cursor: pointer;
}

.item:hover{
    background-color: rgb(83, 83, 83);
}

.selected{
    background-color: rgb(83, 83, 83);
}

.galery{
    background-color: rgb(83, 83, 83);
    width: 1000px;
    height: calc(100% - 280px);

}

.title{
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    font-size: 40px;
}

.zdjecie {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zdjecie img{
    width: 240px;
}

.zdjecie img:hover{
    transform: scale(1.5);
}

.zdjecia  {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "zdjecie1 zdjecie2"
        "zdjecie3 zdjecie4"; 
}

.zdjecie1 { grid-area: zdjecie1; }
.zdjecie2 { grid-area: zdjecie2; }
.zdjecie3 { grid-area: zdjecie3; }
.zdjecie4 { grid-area: zdjecie4; }

a{
    text-decoration: none;  
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border1{
    border: solid 3px rgb(185, 0, 0);
}

.border2{
    border: dashed 3px rgb(26, 221, 0);
} 

.border3{
    border: dotted 3px rgb(255, 230, 0);
}

.border4{
    border: double 3px rgb(55, 0, 255);
}

.krzyzowka-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 50px;
    height: 50px;
    background-color: blue; 
}

.tg  {
    border-collapse:collapse;border-spacing:0;
}

.tg td{
    border:black solid 3px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th{
    border:black solid 3px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}   



td {
    width: 100px;
    height: 100px;
    border: 4px solid black;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, sans-serif;
    font-size:34px;
    font-weight:normal;
}

.ok {
    background-color: rgb(136, 136, 136);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.pytania{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    width: 700px;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family:Arial, sans-serif;
    font-size:19px;
    font-weight:normal;
    text-transform: uppercase;
}

li{
    margin-top: 20px;
}

.notv {
    border: none !important;
    visibility: hidden;
}