<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Strona layout</h1>
    <div class="menu">
        <div class="menu-item">
            <a asp-page="Index">Strona glowna</a>
        </div>
        <div class="menu-item">
            <a asp-page="Index2">Index2</a>
        </div>
    </div>
    <div class="content">
        @RenderBody();
    </div>
</body>
</html>