
.content {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: rgba(199, 0, 0, 0.753);
  text-decoration: underline;
  font-style: italic;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.tekst {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  width: 500px;
  margin-right: 400px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.lewy {
  margin-left: 400px;
}

h2 {
  color: rgba(3, 0, 199, 0.753);
  text-decoration: underline;
  font-style: italic;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

form {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: green;
}

h3 {
  width: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: green;
}

textarea {
  width: 100%;
  height: 100px;
}

table {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
}
