* {
    margin: 0px;
    padding: 0px;
}

.menu {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(143, 121, 82);
}

.menu img {
    scale: 50%;
}

.button a{
    border: 1px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: teal;
    width: 200px;
    height: 100px;
}

.container {
    height: 100%;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.banner {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 10px;
    font-size: 13px;
    font-family: sans-serif;
    width: 100%;
    background-color: rgb(59, 33, 17);
}

.main {
    width: 100%;
    height: 500px;
    background-color: rgb(143, 121, 82);
    display: flex;
}

.left {
    width: 50%;
    color: white;
}

ol {
    margin-left: 30px;
    font-weight: 100;
}

.right {
    width: 50%;
}

.footer {
    background-color: rgb(59, 33, 17);
    height: 223px;
}

.footer{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 10px;
    padding-top: 20px;
}

.formularz {
    margin-top: 20px;
    color: white;
}