@model List<cw1_empty.Models.Movie>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="~/style.css">
    </head>
    <body>
        <h1>Lista filmow</h1>
        <table>
            <tr>
                <th>Tytul</th>
                <th>Rezyser</th>
                <th>Rok</th>
            </tr>
            @foreach(var movie in Model){
                <tr>
                    <td>@movie.title</td>
                    <td>@movie.Director</td>
                    <td>@movie.Year</td>
                </tr>
            }
        </table>
    </body>
</html>