* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header{ 
    width: 100%;
    height: 150px;
    border-bottom: solid 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 130px;
}

.haslo{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #04AA6D;
    transform: translateY(40px);
}

.center {
    width: 100%;
    height: 619px;
    display: flex;
}

.nav{
    width: 15%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU */

.menu {
    width: 90%;
}

.menu a {
    background-color: #ffffff;
    color: black;
    display: block; 
    padding: 12px; 
    text-decoration: none;
}

.menu a:hover {
    background-color: #ccc;
}

.menu a.active {
    background-color: #04AA6D;
    color: white;
}

/* MENU */

.content{
    width: 70%;
    height: 100%;
}

.new{
    width: 15%;
    height: 100%;
    border-left: 1px solid gray;
}

.footer{ 
    width: 100%;
    height: 150px;
    border-top: solid 1px gray;
}