body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(216, 216, 216);
}

.menu {
  width: 1500px;
  height: 700px;
  background-color: rgb(182, 182, 182);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu img {
  height: 650px;
  border-radius: 5px;
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
}

.teksty {
  position: absolute;
  width: 1500px;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: sans-serif;
  justify-content: space-around;
  height: 100px;
}

.contener {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 500px;
}

.swierk {
  display:none ;
  z-index: 500;
  margin-bottom: 500px;
  transition: all 1s;
}

.jodla {
  display:none ;
  z-index: 500;
  margin-bottom: 500px;
  transition: all 1s;
}

.modrzew {
  display:none ;
  z-index: 500;
  margin-bottom: 500px;
  transition: all 1s;
}

.sosna {
  display:none ;
  z-index: 500;
  margin-bottom: 500px;
  transition: all 1s;
}

.swierko {
  z-index: 600;
}

.jodlao {
  z-index: 600;
}

.modrzewo {
  z-index: 600;
}

.sosnao {
  z-index: 600;
}

.swierko:hover{
  border: solid 5px white;
  cursor: pointer;
}

.sosnao:hover{
  border: solid 5px white;
  cursor: pointer;
}

.modrzewo:hover{
  border: solid 5px white;
  cursor: pointer;
}

.jodlao:hover{
  border: solid 5px white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.3s;
  background-color: rgb(182, 182, 182);
  padding: 10px;
  border-radius: 10px;
}

a:hover{
  color: white;
}

