body, html
{
	margin: 0 auto;
	padding: 0;
}

header
{
	background-image: url(menu.jpg);
	color: blue;
	height: 200px;
}

nav
{
	background-color: rgb(255, 218, 65);
	text-align: center;
	width: 40%;
	height: 400px;
	float: left;
}

main
{
	background-color: rgb(255, 226, 100);
	text-align: center;
	width: 30%;
	height: 400px;
	float: left;
}

aside
{
	background-color: rgb(255, 233, 143);
	text-align: center;
	width: 30%;
	height: 400px;
	float: left;
}

footer
{
	clear: left;
	background-color: rgb(255, 218, 65);
	color: blue;
}


a
{
	color: green;
}

p
{
	font-size: 130%;
}