.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 20px;
    margin: 5px;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 100px;
    font-size: 14px;
}

.card{
    margin: 10px;
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    width: 300px;
}

.card:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.delete {
    border: 3px solid red !important;
}