@page
@model MyApp.Namespace.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/style.css">
</head>
<body>
    <div class="main">
        <div class="wrapper">
            <img src="~/media/kartka1.jpg" alt="" class="kartka">
            <img src="~/media/kartka2.jpg" alt="" class="kartka">
            <img src="~/media/kartka3.jpg" alt="" class="kartka">
        </div>
    </div>
</body>
</html>