@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista uczniów</h1>
    <table>
        <thead>
            <th>Lp</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Grupa</th>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Firstname</td>
                    <td>@student.Lastname</td>
                    <td>@student.GroupName</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
