@model Book
<h3 class="text-center">Dodawanie nowego rekordu</h3>
<form asp-action="AddBook" method="post">
    <div class="row m-2">
        <label asp-for="Title" class="col-3 text-end"></label>
        <input asp-for="Title" class="col-6"/>
        <span asp-validation-for="Title" class="text-danger col-3"></span>
    </div>
    <div class="row m-2">
        <label asp-for="Author" class="col-3 text-end"></label>
        <input asp-for="Author" class="col-6" />
        <span asp-validation-for="Author" class="text-danger col-3"></span>
    </div>
    <div class="row m-2">
        <label asp-for="Year" class="col-3 text-end"></label>
        <input asp-for="Year" class="col-6" />
        <span asp-validation-for="Year" class="text-danger col-3"></span>
    </div>
    <div class="row m-2">
            <input type="submit" value="Zapisz" class="col-6 offset-3 btn btn-primary" />
   </div>
    
</form>

